<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9So6T1TMF9PEgLc6uYuKQgP0zBsE6O4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>319353603212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supermarketplace</string>
	<key>PROJECT_ID</key>
	<string>supermarket-place</string>
	<key>STORAGE_BUCKET</key>
	<string>supermarket-place.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319353603212:ios:20e31aec0374c6f608e7a9</string>
</dict>
</plist>